.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 120px;
  padding: 0 30px;
}

.contact_button {
  position: relative;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: 1px solid rgba(18, 18, 18, 0.16);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--main-dark);
}